
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: risk-agent-hpa
  namespace: bankbrain
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: risk-agent
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
